<h1>Content</h1>

<%= link_to "New Node", "/admin/content/new" %>

<% if @user_teams.empty? %>
  <p>You need to be a member of a team before you can create content. <%= link_to "Create a team", new_admin_team_path %>.</p>
<% elsif @nodes.empty? %>
  <p>No content yet.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Slug</th>
        <th scope="col">Team</th>
        <th scope="col">Status</th>
        <th scope="col">Updated</th>
      </tr>
    </thead>
    <tbody>
      <% @nodes.each do |node| %>
        <tr>
          <td><%= link_to node.title, admin_content_path(node) %></td>
          <td><%= node.slug %></td>
          <td><%= node.team&.name %></td>
          <td><%= node.published? ? "Published" : "Draft" %></td>
          <td><%= node.updated_at.strftime("%-d %B %Y %H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
